.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: "Instrument Serif", serif;
    color: #000;
    background-color: #fff;
}