@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Instrument+Serif&display=swap');

.moto {
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
}

.mainText {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.instrumentSerif {
    font-family: 'Instrument Serif', serif;
    font-weight: 400;
}

.cormorantItalic {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 400;
    display: inline-block;
}

.subText {
    font-size: 36px;
    font-family: 'Instrument Serif', serif;
    color: gray;
    margin-top: 10px;
    font-weight: 400;
}